current_investigations/semsimula_paper.pdf filter=lfs diff=lfs merge=lfs -text
current_investigations/attention_and_intrinsic_geometry_paper.pdf filter=lfs diff=lfs merge=lfs -text
current_investigations/locally_conservative_paper.pdf filter=lfs diff=lfs merge=lfs -text
